// ---------------------------------------------------------
// Root file for the stylesheets. This is the only file
// that will be imported in the html header
// ---------------------------------------------------------

// ---------------------------------------------------------
// Use this file to overwrite specific Foundations defaults
// ---------------------------------------------------------

@import "foundation_and_overrides";

// ---------------------------------------------------------
// Uncomment to get the whole Foundation framework ...
// ---------------------------------------------------------

@import "foundation.scss";

// ---------------------------------------------------------
// ... or get only the needed foundation components ...
// ---------------------------------------------------------

// @import "foundation/components/grid";
// @import "foundation/components/type";

// ---------------------------------------------------------
// Modules with site specific styles
// ---------------------------------------------------------

@import "base/colors";
@import "base/mixins";
@import "base/typography";

.center {
  text-align: center; }

#about {
  margin-top: 8rem; }

h1, h2 {
  font-family: Ovo, serif; }

.spaced {
  padding: 3rem 0; }

body {
  padding-bottom: 8rem; }

#homepage-hero {
  padding: 9rem 0;
  background-image: url("../images/windows.jpeg");
  background-size: 1490px auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #homepage-hero h1, #homepage-hero h3 {
    color: white;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.9), 1px 1px 3px rgba(0, 0, 0, 0.8); }
  #homepage-hero h1 {
    font-size: 3.5em; }
  #homepage-hero h3 {
    font-family: serif; }

.top-bar h1 {
  visibility: hidden; }

.f-topbar-fixed .top-bar h1 {
  visibility: visible; }

@media only screen and (min-width:90.063em) {
  #homepage-hero {
    background-size: 100% auto;
    background-position: auto bottom; } }

@media only screen and (max-width: 40em) {
  #homepage-hero {
    padding: 4rem 0;
    background-size: 860px auto;
    background-position: 85% -150px; }
    #homepage-hero h1 {
      font-size: 2.5em; }
    #homepage-hero h3 {
      font-size: 1.3em; }
  #about {
    margin-top: 2rem; }
  .spaced {
    padding: 0; }
  body {
    padding-bottom: 1rem; } }
