!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "Hey West Philadelphia work-from-home types: We can accomplish so much more when we work together. Come cowork with us."}
    %title The Fire Works: Fine Coworking in West Philly
    = stylesheet_link_tag "app"
    = javascript_include_tag "before"
  %body{class: page_classes}
    = yield
    = javascript_include_tag  "all"
